@import'./styles/base.scss';

.logo{
    width: 30%;
    height: 30%;
    opacity: 80%;
    margin-top: 20px;
    margin-left: 20px;
}

h1{
    font-family: 'Economica', sans-serif;
    color: #EB225A;
    font-size: 80px;
    //remove this and re-do it properly
    margin-top: 16px;
    margin-left: 70px;

}