@import'./styles/base.scss';

//Header exclusive to app.
h1{
    font-family: 'Economica', sans-serif;
    color: #EB225A;
    font-size: 80px;
    //remove this and re-do it properly
    margin-top: 16px;
    margin-left: 27%;

}