@import'../styles/base.scss';

.modal{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 80%;
    height: 100%;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px;

    &__add-form-title{
        font-family: 'Economica', sans-serif;
        color: #EB225A;
        padding-top: 15px;
        margin-bottom: 15px;
    }

    &__add-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    }

    &__drink-title{
        font-family: 'Roboto', sans-serif;
        margin-left: 60px;
        margin-bottom: 5px;
    }

    &__drink-title-field{
        font-family: 'Roboto', sans-serif;
        border-radius: 8px;
        height: 24px;
        width: 70%;
        text-decoration: none;
        outline: none;
        padding-left: 5px;
        border: none;
    }

    &__ingredient-list{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__ingredient-title{
        font-family: 'Roboto', sans-serif;
        margin-left: 60px;
        margin-bottom: 5px;
    }

    &__ingredient-field{
        font-family: 'Roboto', sans-serif;
        border-radius: 8px;
        height: 30px;
        width: 70%;
        text-decoration: none;
        outline: none;
        padding-left: 5px;
        margin-bottom: 3px;
        border: none;
    }

    &__amount-field{
        font-family: 'Roboto', sans-serif;
        border-radius: 8px;
        height: 24px;
        width: 70%;
        text-decoration: none;
        outline: none;
        padding-left: 5px;
        border: none;
    }

    &__remove-btn{
        border: 1px solid #EB225A;
        padding: 3px;
        border-radius: 4px;
        text-decoration: none;
        outline: none;
        background: pink;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 50px;
        
    }


    &__prep-title{
        font-family: 'Roboto', sans-serif;
        margin-left: 60px;
        margin-bottom: 5px;
    }

    &__prep-field{
        font-family: 'Roboto', sans-serif;
        border-radius: 8px;
        height: 50px;
        width: 70%;
        text-decoration: none;
        outline: none;
        padding-left: 5px;
        padding-top: 5px;
        border: none;
    }

    &__garnish-title{
        font-family: 'Roboto', sans-serif;
        margin-left: 60px;
        margin-bottom: 5px;
    }

    &__garnish-field{
        font-family: 'Roboto', sans-serif;
        border-radius: 8px;
        height: 24px;
        width: 70%;
        text-decoration: none;
        outline: none;
        padding-left: 5px;
        margin-bottom: 20px;
        border: none;
    }

    &__submit-btn{
        border: 1px solid #EB225A;
        padding: 10px;
        border-radius: 5px;
        text-decoration: none;
        outline: none;
        background: pink;
    }

    &__submit-btn:hover{background-color:#EB225A;}



}