@import'../styles/base.scss';

.login{

    &__form{
        margin-top: 90px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    &__form-label{
        margin-bottom: 10px;
        font-family: 'Roboto', sans-serif;
        color: #333032;
    }

    &__form-field{
        width: 200px;
        height: 30px;
        margin-bottom:10px;
    }

    &__form-btn{
        width: 100px;
        height: 30px;
        border-radius: 8px;
        border:#E1E4E6 solid 1px;
        background: #FDFEFE;
        color: #333032;
        font-family: 'Roboto', sans-serif;
    }
}