@import'../styles/base.scss';

.search{
&__test {
    margin-bottom: 100px;
}

    &__form{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 50%);
        background: whitesmoke;
        border:#E1E4E6 solid 1px;
        height: 40px;
        border-radius: 40px;
        padding: 10px;
        padding-right: 0;
    }

    &__form-label{
        margin-bottom: 10px;
        font-family: 'Roboto', sans-serif;
        color: #333032;
    }

    &__form-field{
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: #333032;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 50px;
    margin-right: 5px;
    }

    &__form-btn{
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border:#E1E4E6 solid 1px;
    background: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    font-family: 'Roboto', sans-serif;
    }

    &__search-icon{
    object-fit: scale-down;
    width: 40%;
    }
}

.search__form:hover>.search__form-field {
    width: 200px;
    padding: 0 6px;
}
.search__form:hover>.search__form-btn {
    background: #EB225A;
    opacity: 0.9;

}

.input:focus{
background: rgba(0,0,0,.1);
border-radius: 5px;
outline: none;
}
