@import'../styles/base.scss';

.login{

    &__form{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    &__form-label{
        margin-left: 57px;
        font-size: 50px;
        margin-bottom: 20px;
        font-family: 'Roboto', sans-serif;
        color: #333032;
    }

    &__form-field{
        width: 300px;
        font-size: 20px;
        text-align: center;
        height: 40px;
        background: none;
        border: none;
        outline: none;
        border-bottom:silver 1px solid;
        appearance: none;
        margin-bottom:20px;
    }

    &__form-btn{
        width: 56px;
        height: 56px;
        border-radius: 50%;
        border:#E1E4E6 solid 1px;
        background: whitesmoke;
        outline: none;
        color: #333032;
        font-weight: bolder;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
    }

    &__form-btn:focus{
        opacity: 0.5;
        background:pink;
    }
}

.arrow{
    padding-top: 3px;
    width: 50%;
}